:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  padding-top: 20px;
  min-height: 100vh;
  position: absolute;
  width: 100%
}

.product-image {
  width: auto;
  height: 400px;
}

.rating span {
  color: #5a980f;
}

img.large {
  max-width: 100%;
}

img.thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #5a980f;
  color: #5a980f;
}

.dropdown-item:hover {
  background-color: #b7fc83;
  color:rgb(63, 129, 107)
}
.dropdown-item {
  color: #5c6951;
}
.dropdown-item.active {
  background-color: #487823;
}
.dropdown-menu {
  --bs-dropdown-bg: none
  right: 1px;
}
.dropdown-menu[data-bs-popper] {
  left: auto;
  right: 1px;
  background-color: azure;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(46, 111, 89);
}
.navbar-brand {
  font-weight: bold;
  color: rgb(46, 111, 89);
  font-size: 2rem;
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: rgb(63, 129, 107);
}
a {
  text-decoration: none;
}

/* #basic-navbar-nav {
  text-align: end;
} */

.navbar-nav {
  --bs-nav-link-color: none;
  --bs-nav-link-hover-color: none;
  color: rgb(46, 111, 89) !important;
}
.navbar-nav :hover {
  font-weight: bold;
}

.navbar-collapse {
  justify-content: end;
}

.navbar-toggle {
  border: none;
  box-shadow: none;
  outline: none;
}

.card {
  min-height: auto;
}

.product-item-card img {
  min-height: 450px;
  max-height: 550px;
}


